{% extends "::base.html.twig" %}

{% block title %}EniBundle:Staff:questionview{% endblock %}

{% block content %}
<h1>ça c'est la page ou l'on peut ajouter des Questions.</h1>

 <div class="container">
        <div class="jumbotron">
            
                        <h4>{{form(form1)}}</h4>
                        <h4>{{form(form2)}}</h4>
                      

            
        </div>
    </div>
{% endblock %}