{% extends "base.html.twig" %}

{% block nav %}
        <li>
            <a class="nav-button staff" href="{{ path('staffquestion_route')}}">Question</a>
        </li>
        <li>
            <a class="nav-button staff" href="">Theme</a>
        </li>
        <li>
            <a class="nav-button staff" href="{{ path('stafftest_route')}}">Test</a>
        </li>
        <li>
            <a class="nav-button staff" href="">Inscription</a>
        </li>
{% endblock %}

{% block content %}
    <main>
        
    <main>
{% endblock%}