{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block content %}
    <button type="button"><a href="{{ path('accueilstaff_route') }}">Accueil Formateur</a></button>
    <button type="button"><a href="{{ path('accueilcandidat_route') }}">Accueil Candidat</a></button>
{% endblock %}